/* style02.css */ 

.oddElements {
    background-color: #e09bb2;
    font-family: Verdana, DejaVuSans, sans-serif;
    }

.thirdElement {
    font-size: 24px;
}

#secondElement {
    color: #000fff;
    font-size: 36px;
}

#fourthElement {
    background-color: lightgreen;
    font-weight: bold;
    font-size: 24px;
}